<div class="scene-editor-container">
  <div class="scene-editor-tools">
    <div
      class="tool-item parent"
      [ngClass]="{ active: activeTool && activeTool.label === tool.label}"
      *ngFor="let tool of tools"
      (click)="handleUseTool(tool)"
      ngxTippy
      [tippyProps]="{
        content: tool.label,
        placement: 'left'
      }"
    >
      <i class="icon" [ngClass]="tool.icon"></i>

      <ng-container *ngIf="tool.children">
        <div class="tool-item-children">
          <div
            class="tool-item"
            *ngFor="let childTool of tool.children"
            (click)="handleUseTool(childTool)"
          >
            <i class="icon" [ngClass]="childTool.icon"></i>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="scene-editor" id="sceneEditor" #sceneEditor></div>
</div>
