
<div class="scene-editor-container">
	<div class="scene-editor-tools">
	  <div class="tool-item" *ngFor="let item of tools">
		<!-- <i class="icon" [ngClass]="item.icon" (click)="item.command()"></i> -->
	
		<!-- <ng-container *ngIf="item.children">
		  <div class="tool-item-children">
			<i
			  class="icon"
			  *ngFor="let child of item.children"
			  [ngClass]="child.icon"
			  (click)="child.command()"
			></i>
		  </div>
		</ng-container> -->
	  </div>
	</div>

	<div class="scene-editor" id="sceneEditor" #sceneEditor></div>
</div>

